.parking-spot-details{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 400px;
  background-color: var(--secondary-color);
  color: white;
}

.parking-name{
  color: white;
  font-size: 3rem;
  margin-bottom: 0px;
}

.section-header{
  color: white;
  font-size: 1.8rem;
  margin-bottom: 0px;
}

.user-details{
  padding-left: 10px;
  font-family: var(--font-base);
}

.user-details p{
  font-size: 1rem;
  padding-left: 10px;
}

.bold{
  font-weight: bolder;
}
