.parking-spot{
  width: 40px;
  height: 65px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.parking-spot:hover{
  cursor: pointer;
}

.unoccupied{
  background-color: #FA7921;
}

.occupied{
  background-color: #67564c;
}

.parking-spot-name{
  color: white;
  font-family: var(--font-base);
  font-size: 12px;
  margin-top: auto;
}
