.parking-lot-grid{
  background-color: var(--secondary-color);
}

.top-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.legend{
  display: flex;
  flex-direction: row;
  gap: 25px;
  color: white;
}

.dot{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.unoccupied{
  background-color: #FA7921;
}

.occupied{
  background-color: #734f38;
}

.top-section button{
  background-color: transparent;
  border: 0px;
  color: white;
  font-size: 1.3rem;
}

.top-section button:hover{
  cursor: pointer;
}

.parking-spots{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 22px;
  row-gap: 22px;
}
