section{
  display: flex;
  background-color: #04080D;
  flex-direction: column;
  font-family: var(--font-base);
  color: var(--neutral-color);
  width: 250px;
  height: 100%;
  padding-top: 15px;
  border-right: 1px solid var(--accent-color);
}

.tab-header{
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
  font-size: 22px;
  background-color: transparent;
  border: 0px;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px 10px 15px;
  width: 100%;
}

.tab-header:hover{
  cursor: pointer;
  background-color: #13293a;
}

fa-icon{
  color: white;
  vertical-align: middle;
}

.expanded-options li{
  color: white;
  margin-bottom: 15px;
}

.expanded-options li:last-child{
  margin-bottom: 0px;
}

.expanded-options li:hover{
  text-decoration: underline;
  cursor: pointer;
}

.expanded-options{
  display: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-left: 0.75rem;
  margin-left: 1rem;
  margin-bottom: 15px;
  margin-top: 10px;
}

.shown{
  display: block;
}

h2{
  font-size: 1.1rem;
}
