section{
  font-family: var(--font-base);
  display: grid;
  grid-template-columns: auto 1fr;
  height: calc(100vh - 60px);

}

.middle-section{
  display: flex;
  flex-direction: column;
}

.parking-lot-list{
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

app-parking-lot-form{

  height: 100%;
  border-left: 1px solid var(--accent-color);
}

.create{
  background-color: var(--darker-orange);
  border: 0;
  border-radius: 0;
  color: white;
}

