.today-card{
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  height: 50vh;
}

.today-card-text{
  color: white;
  font-size: 2rem;
  margin-bottom: 0px;
  text-align: center;
}

.parking-spot-number{
  color: var(--primary-color);
  font-size: 3rem;
  margin-bottom: 50px;
}

.action-buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.today-card-button{
  width: 175px;
  height: 50px;
  background-color: transparent;
  border-radius: 20px;
  font-size: 1rem;
  color: white;
  border: 1px solid white;
}

.released{
  color: rgb(108, 108, 108);
}

.status-display{
  color: white;
}
