section{
  font-family: var(--font-base);
}

h1{
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  color: white;
  gap: 25px;
  margin-left: 25px;
}

.form-field{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input, select{
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  height: 35px;
  width: 400px;
  color: var(--neutral-color);
  font-size: 1.2rem;
  padding: 5px;
}

label{
  font-size: 1.5rem;
  margin-left: 15px;
}

.advanced-header{
  color: rgb(188, 188, 188);
  font-size: 16px;
  width: fit-content;
}

.advanced-header:hover{
  cursor: pointer;
}

.advanced-settings{
  display: none;
  gap: 10px;
  flex-direction: column;
}

.advanced-settings.shown{
  display: flex;
}

.advanced-settings label{
  font-size: 1rem;
  color: rgb(188, 188, 188);
}
.advanced-settings input[type="checkbox"]{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  height: 25px;
  width: 25px;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  flex-shrink: 0;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.advanced-settings input[type="checkbox"]:checked + .checkmark:after {
  display: block;
}
.checkmark:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox-field{
  width: 275px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button{
  width: 300px;
  margin-left: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
  }

.form-buttons{
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  margin-top: 15px;
  gap: 5px;
}

.delete {
  background-color: rgb(200, 3, 3);
}

.form-btn {
  color: white;
  border: 0;
  font-size: 1rem;
  min-width: 400px;
  height: 50px;
  padding: 5px;
  border: 2px;
  margin-left: 0px;
  width: 100%;
}

.submit {
  background-color: var(--darker-orange);
}
