.user-dashboard{
  background-color: #0f1920;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  font-family: var(--font-base);
  padding: 10px;
}

.left-card{
  background-color: var(--secondary-color);
  height: 80vh;
  border-radius: 20px;
  padding: 10px;
}

.calendar-icon{
  color: white;
  padding: 5px;
  border-radius: 25px;
}

.calendar-icon:hover{
  cursor: pointer;
  background-color: var(--accent-color);
}


