section{
  padding: 10px;
}
.user-search{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.search-bar{
  width: 300px;
  height: 30px;
  font-family: var(--font-base);
  font-size: 1.2rem;
}

.employee-list{
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.suggestion-list{
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
}

.suggestion-list li{
  width: 300px;
  height: 30px;
  font-family: var(--font-base);
  font-size: 1.2rem;
  background-color: white;
  padding: 2px 1px 2px;
}
