.parking-lot-details{
  background-color: var(--secondary-color);
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--font-base);
  gap: 10px;
}

.lot-name{
  font-size: 2rem;
  color: white;
}

.lot-address{
  font-size: 1rem;
  color: rgb(203, 202, 202);
}

.actions{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.navigation{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.navigation button{
  height: 100px;
  flex: 1;
  background-color: var(--primary-color);
  border: 0px;
  font-family: var(--font-base);
  color: white;
  font-size: 2rem;
  border-radius: 5px;
}

.management{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.management button{
  width: 175px;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  border-radius: 20px;
  border: 1px solid white;
  height: 50px;
}
