.parking-lot-form {
  display: flex;
  justify-content: center;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.74);
}

form{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-field{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label{
  font-size: 2rem;
  color: white;
  font-family: var(--font-base);
}

.text-input{
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  height: 35px;
  width: 400px;
  color: white;
  font-size: 1.2rem;
  padding: 5px;
}

.options{
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.options label{
  font-size: 1.2rem;
  text-align: center;
}

.toggle-field{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button{
  width: 400px;
  height: 45px;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 0px;
}

.submit{
  background-color: var(--primary-color);
}

.delete{
  background-color: red;
}
