.auth-container{
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 45px;
  border-radius: 25px;
  font-family: var(--font-base);
  gap: 30px;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
}

.form-type-selectors{
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 2px solid var(--neutral-color);
}

form{
  display: flex;
  flex-direction: column;
  color: white;
  gap: 25px;
}

.form-field{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input, select{
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  height: 35px;
  width: 400px;
  color: var(--neutral-color);
  font-size: 1.2rem;
  padding: 5px;
}

select {
  width: 100%;
  height: 50px;
}

option{
  background-color: var(--secondary-color);
}

label{
  font-size: 1.5rem;
}

.tab{
  border: none;
}

.active{
  background-color: #13293a;
}

.error{
  font-size: 0.8rem;
  color: red;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
