.manage-parking-lots{
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-right: 0px;
  gap: 20px;
}

.parking-lot-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-side-tab{
  width: 100%;
}

.add-lot-button{
  color: white;
  background-color: var(--primary-color);
  height: 50px;
  border: 0px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: var(--font-base);
}
