body::before{
  display: none;
}
body {
  background-color: var(--secondary-color);
  background-image: none;
}
.dashboard{
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--accent-color);
  overflow: hidden;
  height: 100%;
  min-height: 0;
}

.top-bar{
  background-color: #03060a;
}

h1 {
  color: var(--primary-color);
}

